/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #d8b0d5;
    color: #fff;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    color: #352c38;
  }
  
  .nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #63376e;
    font-weight: bold;
  }
  
  .nav a:hover {
    color: #2c1833;
  }
  
  /* Hero section */
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .text-content {
    max-width: 50%;
    font-size: 1.2rem;
    color: #333;
    padding: 1rem;
  }
  
  .text-content h2 {
    line-height: 1.4;
    font-weight: 500;
  }
  
  .text-content h2 span {
    color: #1e1a3c;
    font-weight: bold;
  }
  
  .image-content {
    max-width: 300px;
    margin: 1rem;
  }
  
  .hero-image {
    /* width: 100%; */
    width: 150%;
    border-radius: 50%;
    border: 4px solid #3f263d;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .text-content, .image-content {
      max-width: 100%;
    }
    
    .header {
      flex-direction: column;
      align-items: center;
    }
    
    .nav a {
      margin: 0.5rem;
    }
  }
  